/**
* author: Sergej Schefer
* */

#wrapper{
    padding: 0;
    border: 0;
    margin: 0;
    width: 125px;
    height: 100%;
}

#wrapper div {
    width: 25px;
    height: 25px;
    float: left;
}

div.white{
    background: white;
}

div.blue{
    background: blue;
}

div.green{
    background: green;
}
